.div-grid {
    border: 2px solid black;
    display: grid;
    width: 30rem;
    height: 30rem;
}

#container {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 50px;
}

.item-grid {
    border: 1px solid black;
}